<!DOCTYPE html>
<html>
<head>
  <title>Bem vindo ao IC-Simulator</title>
</head>
<body>
<h1>Bem vindo ao IC-Simulator</h1>
<ul>
  <li><%= link_to "Acessar Conta", authentication_sign_in_path %></li>
  <li><%= link_to "Criar Conta", authentication_sign_up_path %></li>
</ul>
</body>
</html>
